:root{
    --title-color: #2E2F42;
    --title-color-two: #FFFFFF;
    --logo-color: #2E2F42;
    --logo-color-span: #4D5AE5;
    --description-color: #434455;
    --background-color: #2E2F42;
    --background-team-color: #F4F4FD;
    --footer-background: #2E2F42;
    --footer-logo: #F4F4FD;
    --footer-logo-span: #4D5AE5;
    --footer-text-color:#E7E9FC;
    --btn-active-color: #404BBF;
    --btn-text: #FFFFFF;
    --btn-fon: #4D5AE5;
    --header-active-color: #404BBF;
    --portfolio-btn-fon: #F4F4FD;
    --portfolio-btn-text: #4D5AE5;
    --portfolio-btn-hover: #FFFFFF;
}
h1, h2, h3, p{
    margin: 0;
}
ul{
    margin: 0;
    padding: 0;
}
.container {
  
    width: 1158px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
.portfolio-container{
    width: 1158px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 120px;
}
img{
    display: block;
}
body{5
font-family: 'Roboto', sans-serif;
color: var(--description-color);
}
.list{
    list-style: none;
}
.link{
    text-decoration: none;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.header {
padding: 24px 0;
border-bottom: 1px solid #E7E9FC;
}
.header-container{
    display: flex;
    align-items: center;
}
.header-navigation {
    display: flex;
    
}

.header-logo {
    font-family: 'Raleway',sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:  var(--logo-color);
    margin-right: 76px;
}
.header-logo > span{
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--logo-color-span);

}

.header-list {
    display: flex;
    gap: 40px;
}

.header-item {}

.header-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--title-color);
   
}
.header-link:focus{
    color: var(--btn-active-color)
    }
.header-link:hover{
    color: var(--btn-active-color) 
}

.header-mail {
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;   
    color: var(--description-color);
    margin-left: 332px;
    
    
}
.header-mail:focus{
    color: var(--header-active-color)
}
.header-mail:hover{
    color: var(--header-active-color)
}
.header-tel {
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--description-color);
   
}
.header-tel:focus {
    color:  var(--header-active-color)
}
.header-tel:hover {
    color: var(--header-active-color);
}
.hero{
    
    display: flex;
    background-color:  var(--background-color);
    text-align: center;
   
}
.hero-title{
   
    font-size: 56px;
    line-height: 1.07;
    color: var(--title-color-two);
    padding: 188px 300px 0px;
    margin-bottom: 48px;
    
  
   
   

}
.hero-btn{
   
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--btn-text);
    background: var(--btn-fon);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
    padding: 16px 32px;
    margin-bottom: 188px;
    
    
    
    
}
.hero-btn:hover{
    background: var(--btn-active-color);
}
.hero-btn:focus {
    background: var(--btn-active-color);
}
.about-teem {
    
    background: var(--background-team-color);

}


.about-list {
    
    display: flex;
    justify-content: center;
    padding-bottom: 120px;
    gap: 24px;
    
}
.about-title{
    display: flex;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--title-color);
    justify-content: center;
    margin-bottom: 72px;
    
}


.about-subtitle {
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color:  var(--title-color);
    padding-top: 120px;
    margin-bottom: 8px;
    
    
}
.container-photo{
    text-align: center;
   
    background: #FFFFFF;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
    padding-bottom: 32px;
    
}
.about-description {
    width: 264px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--description-color);
   
}

.about-subtitle-team{
    
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--title-color);
    margin-top: 32px;
    margin-bottom: 8px;
    
}
.about-desctiption-team {
    
    font-size: 16px;
    line-height: 1.5;
    
    letter-spacing: 0.02em;
    color: var(--description-color);
    
}
.footer {
    background:  var(--footer-background);
    height: 310px;
}

.footer-logo {
    display: block;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--footer-logo);
   padding-top: 100px;
}
.footer-logo> span {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--footer-logo-span);
    }

.footer-description {
    display: flex;
    
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;    
    color: var(--footer-text-color);
    margin-top: 16px;
    padding-left: 22px;
    
}
.container-footer{
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 321px;
}
.container-btn{
    
    display: flex;
    padding: 83px 0 72px;
    
    
    
}
.filtr-btn{
    display: flex;
    gap: 24px;
    margin: 0 auto;
    
}
.work-btn{
    font-family:'Roboto',sans-serif;
    background: var(--portfolio-btn-fon);
    border: 1px solid #E7E9FC;
    border-radius: 4px;
    cursor: pointer;
    color: var(--portfolio-btn-text);
    font-size: 16px;
    line-height: 1.5;
    padding: 12px 24px;
}
.work-btn:hover{
    color: var(--portfolio-btn-hover);
    background: var(--btn-active-color)
}
.work-btn:focus{
    color: var(--portfolio-btn-hover);
    background: var(--btn-active-color)
}
.list-portfolio{
    display: flex;
    flex-wrap: wrap;
    gap: 24px
}
.Portfolio-title {

}

.portfolio-subtitle {
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color:  var(--title-color);
    margin-top: 32px;
    margin-bottom: 8px;
}
.portfolio-subtitle:hover{
    color: var(--btn-active-color);
}
.portfolio-subtitle:focus{
    color: var(--btn-active-color);
}

.portfolio-description {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--description-color);
    padding-bottom: 32px;
    
}
.portfolio-description:hover{
    color: var(--btn-active-color);
}
.portfolio-description:focus{
    color: var(--btn-active-color);
}
.container-sub{
    display: flex;
    flex-direction: column;
    border-left: 1px solid #E7E9FC;
    border-bottom: 1px solid #E7E9FC;
    border-right: 1px solid #E7E9FC;
    margin-bottom: 48px;
}